   <footer>
     <!-- {% include social-share.html %} -->
    <div class="container">
      <div class="row mt10 mb10">
        {% if site.copyright.name %}
        <div class="col-md-4 text-center">Esses laboratórios estão sujeitos aos termos de serviço da PUC Minas <a target="_blank" href="https://www.docker.com/legal/docker-terms-service">here</a>. Site created by Tutorius</div>
        {% endif %}
        
      <!-- <div class="col-md-4 text-center" >
      {% if site.built-by %}
      <a target="_blank" href="https://www.docker.com"><img src="https://img.shields.io/docker/automated/jrottenberg/ffmpeg.svg" alt="{{site.built-by}}"></a>
      {% endif %}
      </div> -->
    </div>
  </div> 

</footer>

